<body class="login">
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form>
                    <h1>Forgot Password</h1>
                    <p>You forgot your password? Here you can easily retrieve your password</p>
                    <div>
                        <input type="text" class="form-control" placeholder="Email" required="" />
                    </div>
                    
                    <div>
                        <button type="submit" class="btn btn-primary btn-block" routerLink="/reset-password">Request new password</button>

                    </div>

                    <a class="reset_pass" routerLink="/login">Login</a>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">New to site?
                            <a routerLink="/create-account" class="to_register"> Create Account </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</body>