@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./homedesign/fontawesome-free/css/all.min.css";
@import "./homedesign/adminlte/dist/css/adminlte.min.css";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback";


.dropdown-toggle {
    cursor: pointer;
}

